extends layout

block content
    h1= title
    p Welcome to #{title}

    div(id='fullpage')
        div(id='slideContainer' class='section')
            each val in colors
                section(class='slide')
                    h2= val
    
    script.
        $(document).ready(function() {
            $('#fullpage').fullpage({
                controlArrows: false
            });
        });