doctype html
html
  head
    title= title
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='./javascripts/scrolloverflow.min.js')
    script(type='text/javascript', src='./javascripts/jquery.fullpage.min.js')
    script(type='text/javascript', src='https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css')

  body
    block content
    
