body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  text-transform: capitalize;
}

img {
  width: 150px;
  height: 150px;
}

.imgLoader {
  height: 90%;
  width: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0px;
}
